PYTHONPATH="~/Memoria/backend" # change this by your path of the backend

# ---- Server ----
SERVER_IP = "change_this_ip"

# ---- Database ----
DATABASE_URL= "change_this_url"

# ---- Backend ----
BOTTOKEN = "chenge_this_token"

# ---- Length fields ----
# change according to your preferences
LENNAMES = "100"
LENDESC = "500"
SURVEY_WAITIG_TIME = "60"

# ---- Database credentials if its necessary ---
POSTGRES_USER = "user"
POSTGRES_PASSWORD = "pass"
POSTGRES_DB = "name"